<% if defined?(title) %>
    <% if defined?(url) && defined?(link_text) %>
        <%= link_to link_text, url, :class => 'left bold white_text back_link' %>
    <% end %>
    <% if defined?(subscribe_url) && defined?(subscribe_link_text) %>
        <%= link_to subscribe_link_text, 'javascript:void(0);', :class => 'right bold white_text subscribe_link', :onclick => 'open_subscribe_dialog();' %>
    <% end %>
    <h3 class="center_align">
      <%= title %>
    </h3>

    <div id="subscribe_dialog" style="display: none;">
      <%= form_tag subscribe_to_blog_url(:locale => I18n.locale), :remote => true, :id => 'subscribe_form' do |f| %>
          <div class="form_row">
            <label for="subscriber_email"><%= t('subscribe_form.email') %><star class='red'>*</star>:</label>
            <%= text_field_tag "subscriber[email]" %>
            <div class="clear"></div>
            <div class="error_row"></div>
          </div>
          <div class="form_row">
            <label for="subscriber_language"><%= t('subscribe_form.language') %><star class='red'>*</star>:</label>
            <%= select_tag 'subscriber[language]', options_for_select(
                  [[t('subscribe_form.all_languages'), 'all'],
                   [t('subscribe_form.en_language'), 'en'],
                   [t('subscribe_form.ru_language'),'ru']], :selected =>  I18n.locale.to_s) %>
            <div class="clear"></div>
            <div class="error_row"></div>
          </div>
          <hr/>
          <div class="subscribe_notification">
              <%= t('subscribe_form.unsubscribe_notification') %>
          </div>
      <% end %>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#subscribe_dialog').dialog({ modal:true, resizable:false, autoOpen:false,
                title:'<%= t(:subscribe_dialog) %>', width:400,
                buttons:[
                    {
                        text:'<%= t('helpers.links.subscribe') %>',
                        click:function () {
                            show_loading();
                            $('#subscribe_dialog').dialog('close');
                            $('#subscribe_form').submit();
                        }
                    },
                    {
                        text:'<%= t(:cancel) %>',
                        click:function () {
                            $(this).dialog('close');
                        }
                    }
                ]})
        })

        function open_subscribe_dialog() {
            $('#subscribe_dialog').dialog('open');
        }
    </script>
<% end %>