<div class="layout-50 clear-fix overflow-fix page-4">
  <%= render :partial => 'shared/blog_title', :locals => {:title => t(:contents),
                                                          :subscribe_url => blog_url(:locale => I18n.locale), :subscribe_link_text => t('helpers.links.subscribe')
  } %>
  <hr class="standard_hr"/>

  <% if @rubrics.present? && @rubrics.any? %>
      <div class="left bold white_text"><%= t(:rubric_name) %></div>
      <div class="right bold white_text"><%= t(:articles_count) %> </div>
      <div class="clear"></div>
      <hr class="standard_hr"/>
      <% @rubrics.each do |rubric| %>
          <div class="rubric ">
            <span class="left"><%= link_to rubric.title, show_rubric_url(:id => rubric.to_param, :locale => I18n.locale) %></span>
            <span class="right"><%= link_to rubric.articles.for_current_locale.front_versions.count, show_rubric_url(:id => rubric.to_param, :locale => I18n.locale) %></span>
          </div>
      <% end %>
  <% else %>
      <div class="empty_listing">
        <%= t(:no_articles_yet) %>
      </div>
  <% end %>
</div>