<div class="layout-50 overflow-fix clear-fix page-3">

  <div class="layout-50-left">

    <h3>Образование</h3>
    <ul class="career-list no-list">
      <li>
        <h5>БГУИР </h5>

        <p>
          (Белорусский Государственный Университет Информатики и Радиоэлектроники)<br/>
          <span class="label">Период:</span> 2008 - 2013<br/>
          <span class="label">Факультет:</span> Информационных технологий и Управления <br/>
          <span class="label">Специальность:</span> Автоматизированные системы обработки и отображения информации
          <span class="label">Профессия:</span> Инженер по информационным технологиям
        </p>
      </li>
      <li>
        <h5>Лицей при БГУ</h5>

        <p>
          <span class="label">Период:</span> 2006 - 2008<br/>
          <span class="label">Специальность:</span> Физико-математический класс
        </p>
      </li>
    </ul>

    <h3>Дополнительное Образование</h3>
    <ul class="career-list no-list">
      <li>
        <h5>Учреждение образования "БелСофт" </h5>

        <p>
          <span class="label">Период:</span> Январь 2011 - Февраль 2011<br/>
          <span class="label">Специальность:</span> Web-дизайн: HTML и CSS<br/>
          <span class="label">Описание:</span> Курсы повышения квалификации. Официальное удостоверение № 1297646.
        </p>
      </li>
      <li>
        <h5>UC Berkeley University(online курс)</h5>

        <p>
          <span class="label">Период:</span> Март 2012 - Апрель 2012 <br/>
          <span class="label">Специальность:</span> Разработка програмного обеспечения <br/>
          <span class="label">Описание:</span> Изучение фундаментальных процессов разработки програмного обеспечения,
          используя новые методи разработки(agile development) на примерах приложений на Ruby on Rails.
        </p>
      </li>
    </ul>

    <h3>Опыт Работы</h3>
    <ul class="career-list no-list">
      <li>
        <h5>Ruby on Rails разработчик</h5>

        <p>
          <span class="label">Период:</span> Май 2011 - До сих пор<br/>
          <span class="label">Организация:</span> Itransition
          (<%= link_to 'itransition.by', 'http://www.itransition.by/', :target => '_blank' %>)<br/>
          <span class="label">Описание:</span> Разработка Web-приложений. Интреграция с различными сервисами и
          платежными системами.
          Опыт участия в разработке и поддержки 10 проектов различной сложности, как в составе большой команды,
          так и инидивидуально.
        </p>

      </li>
      <li>
        <h5>Член бригады ресторана</h5>

        <p>
          <span class="label">Период:</span> Август 2010 - Январь 2011<br/>
          <span class="label">Организация:</span> сеть ресторанов МакДональдс
          (<%= link_to 'mcdonalds.by', 'http://www.mcdonalds.by/', :target => '_blank' %>)<br/>
        </p>
      </li>
      <li>
        <h5>Подсобный рабочий 2 разряда</h5>

        <p>
          <span class="label">Период:</span> Июнь 2009 - Август 2009<br/>
          <span class="label">Организация:</span> Зеленстрой первомайского района (<%= link_to 'mzs.by', 'http://www.mzs.by/ru/about/up_zelenstroi_pervomaiskogo/', :target => '_blank' %>
          )<br/>
        </p>
      </li>
    </ul>

  </div>

  <div class="layout-50-right">

    <h3>Языки разработки</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Ruby 1.9.3</h5>
      </li>
      <li>
        <h5>Ruby 1.9.2</h5>
      </li>
      <li>
        <h5>Ruby 1.8.7</h5>
      </li>
    </ul>

    <h3>Версии Rails</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Rails v3.2</h5>
      </li>
      <li>
        <h5>Rails v3.1</h5>
      </li>
      <li>
        <h5>Rails v3.0</h5>
      </li>
      <li>
        <h5>Rails v2.3</h5>
      </li>
      <li>
        <h5>Rails v2.2</h5>
      </li>
    </ul>

    <h3>Технологии Web-дизайна</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>HTML</h5>
      </li>
      <li>
        <h5>CSS</h5>
      </li>
      <li>
        <h5>SASS</h5>
      </li>
      <li>
        <h5>jQuery</h5>
      </li>
      <li>
        <h5>CoffeeScript</h5>
      </li>
    </ul>

    <h3>Базы данных</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Mysql</h5>
      </li>
      <li>
        <h5>MongoDb</h5>
      </li>
    </ul>

    <h3>Операционные Системы</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Linux (основная)</h5>
      </li>
      <li>
        <h5>Windows</h5>
      </li>
    </ul>
  </div>

  <div class="buttons">
    <%= link_to 'Мой профиль на LinkedIn', 'http://www.linkedin.com/pub/zhenya-kostev/43/5a0/689', :class => 'button', :target => '_blank' %>
    <%= link_to 'Скачать Резюме в формате doc', '#', :class => 'button' %>
  </div>
</div>