<div class="layout-50 overflow-fix clear-fix page-3">

  <div class="layout-50-left">

    <h3>Main Education</h3>
    <ul class="career-list no-list">
      <li>
        <h5>BSUIR </h5>

        <p>
          (Belorussian State University of Informatics and Radioelectronics)<br/>
          <span class="label">Period:</span> 2008 - 2013<br/>
          <span class="label">Qualification:</span> Engineer of Information Technology
        </p>
      </li>
      <li>
        <h5>Lyceum BSU</h5>

        <p>
          <span class="label">Period:</span> 2006 - 2008<br/>
          <span class="label">Specialization:</span> Physics and Mathematics
        </p>
      </li>
    </ul>

    <h3>Additional Education</h3>
    <ul class="career-list no-list">
      <li>
        <h5>Educational Institution "Belsoft"</h5>

        <p>
          <span class="label">Period:</span> January 2011 - February 2011<br/>
          <span class="label">Specialization:</span> Web design: HTML & CSS<br/>
          <span class="label">Description:</span> Refresher course. Official certificate № 1297646.
        </p>
      </li>
      <li>
        <h5>UC Berkeley University(online course)</h5>

        <p>
          <span class="label">Period:</span> March 2012 - April 2012 <br/>
          <span class="label">Specialization:</span> Software Engineering for SaaS <br/>
          <span class="label">Description:</span> Fundamental processes of software engineering using the
          highly-productive
          agile development method for Software as a Service (SaaS) using Ruby on Rails.
        </p>
      </li>
    </ul>

    <h3>Work Experience</h3>
    <ul class="career-list no-list">
      <li>
        <h5>Ruby on Rails Developer</h5>

        <p>
          <span class="label">Period:</span> May 2011 - Till now<br/>
          <span class="label">Organisation:</span> Itransition
          (<%= link_to 'itransition.com', 'http://www.itransition.com/', :target => '_blank' %>)<br/>
          <span class="label">Description:</span> Development of Web-based applications. Support of old applications.
          Communication with customers, integration with other Web-based applications or SOAP services and payment
          systems. Participation in more than ten big and small projects, as a team member or individually.
        </p>

      </li>
      <li>
        <h5>Restaurant team member</h5>

        <p>
          <span class="label">Period:</span> August 2010 - January 2011<br/>
          <span class="label">Organisation:</span> McDonald's Corporation
          (<%= link_to 'mcdonalds.com', 'http://www.mcdonalds.com/', :target => '_blank' %>)<br/>
        </p>
      </li>
      <li>
        <h5>Roustabout</h5>

        <p>
          <span class="label">Period:</span> June 2009 - August 2009<br/>
          <span class="label">Organisation:</span> MinskZelenStroy
          (<%= link_to 'mzs.by', 'http://www.mzs.by/en/', :target => '_blank' %>)<br/>
        </p>
      </li>
    </ul>

  </div>

  <div class="layout-50-right">

    <h3>Languages</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Ruby 1.9.3</h5>
      </li>
      <li>
        <h5>Ruby 1.9.2</h5>
      </li>
      <li>
        <h5>Ruby 1.8.7</h5>
      </li>
    </ul>

    <h3>Rails Framework</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Rails v3.2</h5>
      </li>
      <li>
        <h5>Rails v3.1</h5>
      </li>
      <li>
        <h5>Rails v3.0</h5>
      </li>
      <li>
        <h5>Rails v2.3</h5>
      </li>
      <li>
        <h5>Rails v2.2</h5>
      </li>
    </ul>

    <h3>Web Design</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>HTML</h5>
      </li>
      <li>
        <h5>CSS</h5>
      </li>
      <li>
        <h5>SASS</h5>
      </li>
      <li>
        <h5>jQuery</h5>
      </li>
      <li>
        <h5>CoffeeScript</h5>
      </li>
    </ul>

    <h3>Databases</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Mysql</h5>
      </li>
      <li>
        <h5>MongoDb</h5>
      </li>
    </ul>

    <h3>Operation Systems</h3>
    <ul class="skill-list no-list">
      <li>
        <h5>Linux (main)</h5>
      </li>
      <li>
        <h5>Windows</h5>
      </li>
    </ul>
  </div>

  <div class="about_me" style="width: 100%; float: left; margin-top: -20px;">
    <h3>About me</h3>

    <p>
      &nbsp;&nbsp;&nbsp; I'm highly motivated, active and well organized. I work very well in a team
      (I can organize activities or work as a simple team member)
      I think my positive qualities are:
    <ol>
      <li> ability to learn,</li>
      <li> initial training on Ruby on Rails,</li>
      <li> good at teamwork (high level of social skills),</li>
      <li> ability to prioritize and manage time.</li>
    </ol>
    </p>
  </div>

  <div class="buttons">
    <%= link_to 'See my profile on LinkedIn', 'http://www.linkedin.com/pub/zhenya-kostev/43/5a0/689', :class => 'button', :target => '_blank' %>
    <%= link_to 'Download Resume as doc', '#', :class => 'button' %>
  </div>
</div>