<h3 class="center_align"><%= @article.title.humanize %></h3>
<hr class="standard_hr"/>
<div class="white_text">
  <%= t(:rubrics) %>:
  <%= @article.rubrics.map { |rubric| link_to(rubric.title.humanize, show_rubric_url(:id => rubric.to_param), :class => 'bold white_text') }.join(', ').html_safe %>
</div>


<hr class="standard_hr" style="margin-bottom: 15px;"/>
<div class="scroll_box" style="max-height: 315px; ">
  <div>
    <%== prepare_text(@article.body) %>
    <% if @article.related_articles.any? %>
        <div class="related_articles">
          <h2><%= t(:related_artiles) %>:</h2>
          <ul style="color: white;">
            <% @article.related_articles.each do |article| %>
                <li><%= link_to article.title, show_article_path(:id => article.to_param, :locale => I18n.locale) %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
</div>
