<% if flash[:notice] %>
    <div class="notification information png_bg">
        <%= link_to_function image_tag('images/icons/cross_grey_small.png'), "hide_notice('information')", :class => "close" %>

      <div>
        <%= flash[:notice] %>
      </div>
    </div>
<% end %>
<% if flash[:error] %>
    <div class="notification error png_bg">
        <%= link_to_function image_tag('images/icons/cross_grey_small.png'), "hide_notice('error')", :class => "close" %>

      <div>
         <%= flash[:error] %>
      </div>
    </div>
<% end %>
<% if flash[:success] %>
    <div class="notification success png_bg">
        <%= link_to_function image_tag('images/icons/cross_grey_small.png'), "hide_notice('success')", :class => "close" %>

      <div>
        <%= flash[:success] %>
      </div>
    </div>
<% end %>
