<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title><%= t :zhenya_kostev %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="background-carbon">

<!-- Header -->
<div class="header main box-center clear-fix">

  <div class="layout-4060 clear-fix overflow-fix">

    <div class="layout-4060-left">
      <a href="#!/main" class="header-logo-link"></a>

      <h1 style="font-size:45px;"><%= t :zhenya_kostev %></h1>
      <h5><%= t :speciality %></h5>
    </div>

    <div class="layout-4060-right">
      <ul class="no-list header-menu">
        <li class="header-menu-mail">
          <a href="mailto:zh.kostev@gmail.com">zh.kostev@gmail.com</a>
        </li>
        <li class="header-menu-russian">
          <%= link_to '', '/change_language?change_language=ru' %>
        </li>
        <li class="header-menu-english">
          <%= link_to '', '/change_language?change_language=en' %>
        </li>
      </ul>
    </div>

  </div>

</div>
<!-- /Header -->


<!-- Content -->
<div class="content main box-center">

  <!-- Cascade -->
  <div class="cascade preloader">

    <!-- Box menu -->
    <ul class="cascade-menu overflow-fix">
      <li id="tab-1" class="blue-info">
        <a href="#!/about">
          <span class="title"><%= t :about %></span>
          <span class="subtitle"><%= t :about_desc %></span>
        </a>
      </li>
      <li id="tab-2" class="green-document">
        <a href="#!/resume">
          <span class="title"><%= t :resume %></span>
          <span class="subtitle"><%= t :resume_desc %></span>
        </a>
      </li>
      <li id="tab-3" class="orange-mail">
        <a href="#!/contact">
          <span class="title"><%= t :contact %></span>
          <span class="subtitle"><%= t :contact_desc %><%=  %></span>
        </a>
      </li>
      <li id="tab-4" class="red-briefcase">
        <a href="#!/blog">
          <span class="title"><%= t :blog %></span>
          <span class="subtitle"><%= t :blog_desc %></span>
        </a>
      </li>
    </ul>
    <!-- /Box menu -->

    <!-- Window -->
    <div class="cascade-window">

      <!-- Close bar -->
      <div class="cascade-window-close-bar">
        <a href="#!/main"></a>
      </div>
      <!-- /Close bar -->

      <!-- Page content -->
      <div class="cascade-window-content"></div>
      <!-- /Page content -->

      <!-- Footer -->
      <div class="cascade-window-footer"></div>
      <!-- /Footer -->

    </div>
    <!-- /Window -->

    <!-- Navigation -->
    <a href="#" class="cascade-navigation cascade-navigation-prev"></a>
    <a href="#" class="cascade-navigation cascade-navigation-next"></a>
    <!-- /Navigation -->

  </div>
  <!-- /Cascade -->

</div>
<!-- /Content -->


<!-- Footer -->
<div class="footer">

  <hr class="footer-line"/>

  <div class="main box-center layout-7030 clear-fix overflow-fix" style="text-align: center">
      <%= t :minsk %>, 2012
  </div>

</div>
<!-- /Footer -->

<script type="text/javascript">
    $(document).ready(function()
    {
        var page=
        {
            'about'         :   {tab:'tab-1',html:'/<%= I18n.locale %>/about',main:1,openStart:0},
            'resume'        :   {tab:'tab-2',html:'/<%= I18n.locale %>/resume',main:1,openStart:0},
            'contact'       :   {tab:'tab-3',html:'/<%= I18n.locale %>/contact',main:1,openStart:0},
            'blog'          :   {tab:'tab-4',html:'/<%= I18n.locale %>/blog', main:1,openStart:0}
        };

        $('.cascade').cascade(page);
    });

</script>
</body>

</html>


